{% extends 'base.html' %} {% block content %}

<head>
  <title>Home</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>

<center>
  <div class="container">
    <h1>
    Construct a Professional Website for Your Business Today
    </h1>
    <div class="section">
      <p>
        A great website is what your business needs to convert users into
        engaged customers and brand ambassadors. Get Yours Now! Your site
        reflects your company, products, services and ultimately, brand. Thus,
        it’s important to be visually professional, appealing, and polished. An
        outstanding user-friendly website with the necessary features and
        seamless performance is one of the most effective online ways to
        familiarise people with the products or services you offer; WebDev
        International guarantees this. We design and develop all forms of
        websites, including;
      </p>
      <ul>
        <li>Company website</li>
        <li>Blog</li>
        <li>Personal Website</li>
        <li>Portfolio</li>
        <li>E-commerce site</li>
        <li>Directories</li>
        <li>Scientific web systems</li>
        <li>Banking systems</li>
      </ul>
    </div>
    <div class="section">
      <h3>
        Unlike other website-creating companies, we create websites for personal
        use and for businesses using Django or react, which is reliable and has
        a vibrant ecosystem of stable libraries. This helps prevent the
        following:
      </h3>
      <ul>
        <li>Slow Page Speed</li>
        <li>Frequent Theme and Plugin Update</li>
        <li>Poor SEO Ranking</li>
        <li>Website Vulnerability</li>
      </ul>
    </div>
    <div class="section">
      <ol>
        Why entrust WebDev International with your website? You can be
        guaranteed that your website will possess the following features if
        built by WebDev International.
        <li>Well Designed and Functional</li>
        <br />
        We build to web standards, proofread rigorously and regularly test for
        problems with speed or functionality. We give your website the modern
        and professional looks it needs in its design to attract your potential
        clients.
        <li>User-friendly</li>
        <br />
        With extensive knowledge of User Experience (UX) design, we create
        websites that are easy to use by visitors, making sure they understand
        and stay on your website.

        <li>Improved for Search and the Social Web</li>
        <br />
        We do not just build nice looking websites that are easy to use; we also
        ensure they earn traffic. We implement hundreds of rules and guidelines
        for effective search engine optimisation.
        <li>Unique</li>
        <br />
        We help personalise your website and make you become a ‘real business’
        that the visitor can engage with
        <li>Optimised for Mobile</li>
        <br />
        We make sites look great and work well on any platform by optimising for
        mobile, improving your visitors’ experience and SEO Rankings.
        <li>Clear calls to action</li>

        This improves your conversion rate and keeps your users engaged.
      </ol>
    </div>
    <h2>So, what are you waiting for? <br/>CONTACT <br/> <a href="/contact"id="link">WebDev International </a><br/>NOW!</div>
  </div>
</center>
{% endblock %}}
