{% extends "base.html" %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.username }}"/>
        <div class="media-body">
          <h2 class="account-heading">Company Name: {{ user.profile.company_name }}</h2>
          <h3 class="account-email">Email: {{ user.email }} </h3>
          <h3 class="full-name">Full Name: {{ user.profile.first_name }} {{ user.profile.last_name }} </h3>
          <h3 class="account-phone">Phone: {{ user.profile.phone }} </h3>
          <h3 class="plan_on">Plan: {{ user.profile.plan_on }} </h3>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}