{% extends 'base.html' %} {% block content %}

<head>
  <title>Services</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}" />
</head>
{% comment %} <center>
    <h1>Services</h1>
    <div class="services">

        <div class="services-0">

            <h2>BASIC</h2>
            <div>Includes
                <ul>
                    <li>up to 3 revisions to your website</li>
                    <li>Website Maintenance</li>
                    <br />
                    <li>Shared / Hosting</li>
                </ul>
                <h6><small>Does not include files upon cancelation.</small></h6>
            </div>
            <center>
                <small>
                    <small>
                        Typical WordPress site.
                    </small>
                </small>
            </center>
        </div>
        <div class="services-1">
            <h2>BRONZE</h2>
            <div>Includes
                <ul>
                    <li>up to 3 revisions to your website</li>
                    <li>Website Maintenance</li>
                    <li>Single Static Page</li>
                    <br />
                    <li>Shared / Hosting</li>
                    <ul>
            </div>
            <center><small>
                    <small>
                        Simple website design you can use to grow your business.
                    </small>
                </small>
            </center>
        </div>
        <div class="services-2">
            <h2>GOLD</h2>
            <div>Includes
                <ul>
                    <li>up to 5 revisions to your website</li>
                    <li>Website Maintenance</li>
                    <p style="color: red">PLUS</p>
                    <li>Static or Dynamic Page</li>
                    <li>Upgraded Hosting</li>
                    <li>Email</li>
                    <ul>
            </div>
            <center>
                <small>
                    <small>
                        good for small businesses trying maximize their potential.
                    </small>
                </small>
            </center>
        </div>
        <div class="services-3">
            <h2>PLATINUM</h2>
            <div>Includes
                <ul>
                    <li>up to 10 revisions to your website<br> per year</li>
                    <li>Website Maintenance</li>
                    <p style="color:red">PLUS</p>
                    <li>Static or Dynamic Page</li>
                    <li>Dedicated / Hosting</li>
                    <li>Email</li>
                    <li>Login</li>
                    <ul>
            </div>
            <center>
                <small>
                    <small>
                        good for e-commerce websites, blogs, and other large businesses.
                    </small>
                </small>
            </center>
        </div>
    </div>
</center>
<center>
    <br />
    <br />
    <br />
    <br />
    <div> <a href="/contact"> Need assistance with Logo and branding ?</a></div>
</center> {% endcomment %}
{% comment %} <body>
  <center>
    <main class="cards">
      <section class="card contact">
        {% comment %} <h3>Contact us.</h3> {% endcomment %}
        {% comment %} <span
          >We offer Custom and prebuilt websites.<br />
          To learn more feel <br />free to reach out to us</span
        ><br />
        <a href="/contact"><button>Contact us</button></a>
      </section>
    </main>
  </center>
</body> {% endcomment %}
<center>
    <h1>Do not be fooled by other companies with their templates.</h1>
        <p> Contact 
            <a href="/contact" id="main">WebDev International</a> <br/>
                for effective and affordable solutions.
        </p>
</center>
<center>
    <br />
    <br />
    <br />
    <br />
    <div> <a href="/contact" id="main"> Need assistance with Logo and branding ?</a></div>
</center> 
{% endblock %}
